<?xml version="1.0"?>

<odoo>
	<!--Accion abrir el menu -->
	<act_window id="action_prest_soc"
		name="Social Benefits"
		res_model="prest"/>
	<!--Elemento de menú para abrir la lista-->
	<menuitem id="menu_prest_soc"
		name="Prestaciones Sociales"/>

	<menuitem id="menu_prest_so"
		name="Prestaciones"
		parent="menu_prest_soc"
		action="action_prest_soc"/>

	<act_window id="action_prest_liqui"
		name="Liquidacion"
		res_model="presta"/>
		
	<menuitem id="menu_liqui"
		name="liquidacion"
		parent="menu_prest_soc"
		action="action_prest_liqui"/>
</odoo>